/* This the background color*/
body{
    background-color: beige;
}

 /*This is the p color and fount*/
 p {
    color: rgb(161, 118, 64);
    font-family: Arial, Helvetica, sans-serif;
}

 /*This is the header color and fount*/
h1{
    color: rgb(206, 204, 83);
    font-family: 'Times New Roman', Times, serif;
}

 /*This all is for the link (color and fount)*/
a{
    color: rgb(230, 172, 119);
}

a:hover{
    color:black;
    text-decoration: underline;
}
 /*This is my extra with the dotted box*/
.Francisco{
    border-style: dotted;
}